services:
  mongo:
    image: mongo:7
    container_name: userauth-mongo
    restart: unless-stopped
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build: .
    container_name: userauth-api
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: ${MONGO_URI}
    depends_on:
      - mongo

volumes:
  mongo-data:
