name: CI/CD

on:
  pull_request:
    branches: [main]
  push:
    branches: [cicd-pipeline]
  workflow_dispatch:

env:
  IMAGE_NAME: ${{ secrets.DOCKER_USER }}/microservice-userauth

jobs:
  test:
    if: github.event.pull_request.head.ref == 'develop'
    runs-on: ubuntu-latest

    # Lo usaremos para tests e2e
    # services:
    #   mongo:
    #     image: mongo:7
    #     ports:
    #       - 27017:27017
    #     options: >-
    #       --health-cmd="mongosh --eval 'db.adminCommand(\"ping\")'"
    #       --health-interval=10s
    #       --health-timeout=5s
    #       --health-retries=5

    env:
      MONGO_URI: mongodb://localhost:27017/userauth_db
      JWT_SECRET: changeme

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Run unit tests
        run: npm test -- --runInBand
    
     # No tenemos e2e aun
     # - name: Run e2e tests
     #   run: npm run test:e2e -- --runInBand

      - name: Build app
        run: npm run build

  build-and-push:
    if: github.event.pull_request.head.ref == 'develop'
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
